.page{
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.submit-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.hangman{
    color: red;
}
.guess-input{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#word-display {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
